.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  font-family: inherit;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 33.33%;
  border-radius: 16px;
}

.log-in-text {
  color: #555555;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

.sign-up-text {
  font-size: 20px;
}

.sign-up-link {
  color: #6ab7bc;
}

.sign-up-link:hover {
  color: teal;
}

.log-in-input {
  border-radius: 16px;
  border-color: #6ab7bc;
  color: #000000;
  width: 100%;
  min-height: 40px;
  border-style: solid;
  margin-bottom: 16px;
  padding: 0 8px;
}

.log-in-input::placeholder {
  color: #6ab7bc;
  opacity: 1;
  font-size: 16px;
}

.log-in-input::-ms-input-placeholder {
  color: #6ab7bc;
}

.log-in-input:focus {
  outline: none;
  box-shadow: 0 0 4px teal;
}

.forgot-password-text {
  align-self: center;
  color: #6ab7bc;
  cursor: pointer;
  margin-bottom: 8px;
}

.forgot-password-text:hover {
  color: teal;
}

@media (width <= 40rem) {
  .form-container {
    width: 90%;
  }
}

@media (width <= 20rem) {
  .form-container {
    background-color: #ffffff;
    width: 90%;
  }
}
